.botones{
    border-radius: 15px;
    border: solid brown;
    background-color: brown;
    height: 40px;
    width: 200px;
    font-size: large;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.titulo-filtro{
    color: rgb(0, 0, 0);
    margin: 5px;
    padding: 7px;
    background-color: rgba(171, 215, 246, 0.8);
    border-radius: 1rem;
    width: fit-content;
    justify-content: center;
    align-items: center;
    font-size: 21px ;
    font-weight: bold;
    text-decoration: underline;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.filtro-dieta{
    padding: 10px;
    margin: 5px;

}