.fondo-form{
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5) ,
        rgba(0, 0, 0,0.5)
        ),url('../../images/fondoForm.png');
    background-repeat: no-repeat;
    background-size: 110% 100%;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.formulario-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(256, 256, 256, 0.3);
    padding: 50px;
    border-radius: 25px;
}


.titulos-form{
    /* display: flex; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 25px;
    text-decoration: underline;
    margin: 7px;
    padding: 3px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    width: 150px;
}

.formulario-input{
    background-color: rgba(127, 255, 212, 0.3);
}

.formulario-input-amplio{
    background-color: rgba(127, 255, 212, 0.3);
}

.select-diets{
    height: 200px;
    height: 50px;
    background-color: rgba(127, 255, 212, 0.3);
    font-size: x-large;
}

.btnDisabled{
    font-size: x-large;
    width: 200px;
    /* background-color: ; */
}

.lista-diets{
    background-color: rgba(127, 255, 212, 0.3);
    font-size: large;
    /* width: 150px; */
    /* padding: 5px; */
    text-align: left;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    
}
.lista-diets button{
    background-color:rgba(127, 255, 212, 0.3) ;
    color: black;
    text-align: center;
}

.btnDisabled{
    background-color: rgba(127, 255, 212, 0.3);
    border-radius: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    padding: 5px 5px;
}
.errores { 
    color:red;
    font-weight: bold;
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}