
.detail {
    display: flex;
    text-align: center; 
    justify-content: center;
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5) ,
        rgba(0, 0, 0,0.5)
        ), url('../../images/fondoDetalle1.png');
    background-size: cover;
    margin-bottom: 0;
    /* padding: 0%; */
    /* height: auto; */
    /* width: 100%; */    
}
.contenedor-de-texto{
    background-color: rgba(128, 128, 128, 0.3);
    width: auto;
    height: auto;
    padding: 20px 0px;
}
.detailContainer{
    margin: 5px;
    padding: 40px 10px;
}

.name-container h1{
    color: whitesmoke;
}
.types-container{
    color: burlywood;
    font-size: 20px;
}
.diets-container{
    color: burlywood;
    font-size: 20px;
}
.imagen{
    border: solid 3px whitesmoke;
    border-radius: 50%;

}
.summary-container{
    margin-left: 400px;
    color: burlywood;
    text-decoration: none;
}
.summary-container a{
    color: burlywood;
}

.healthScore-container{
    color: burlywood;
    /* font-family: "brush scrit mt"; */
    font-size: 20px;

}

.pasos-container{
    color: burlywood;
    margin-left: 500px;
}

.b-back{
    margin-top: 15px;
    color: black;
    background-color: brown ;
    width: 200px;
    height: 50px;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.b-back:hover{
    background-color: rgb(190, 42, 42);
}
h3{
    margin: 0;
}

p{
    margin: 10px;
}