.card{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    width: 500px ;
    height: 470px;
    margin: auto;
    background-color: rgba(138, 134, 134, 0.8);
    border-radius: 2.5rem;
    margin: 7px;

}
.ImagenC{
    width: 300px;
    height: 200px;
    border: solid 7px whitesmoke;
    border-radius: 50%;
    margin: 13px;
}
.boton-detalle{
    background-color: rgba(165, 42, 42, 0.76);
    font-size: 20px;
    cursor: pointer;
    width: 200px;
    height: 50px;
    border-radius: 20px;
    font-family:  Georgia, 'Times New Roman', Times, serif;
}
.boton-detalle:hover{
    background-color: brown;
    color: whitesmoke;
}
.titulo{
    margin: 7px;
    padding: 3px 3px;
    text-align: center;
    height: 50px;
}

.titulo h2{
    font-size: 21px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

.card p{
    font-size: 20px;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    height: 50px;
}
