.Container{
    background-image: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.5) ,
        rgba(0, 0, 0,0.5)
        ), url('../../images/fondoHome2.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    /* margin-top: 10px; */
}

.CardContainer {
    justify-content: space-around;
    align-items: center;
    /* border: solid black; */
    display: flex;
    flex-wrap: wrap;
    
}


.buttonPag:active{
    background-color: antiquewhite;
}
.buttonPag:hover{
    background-color: black;

}
.buttonPagDiv{
    display: inline;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    border-radius: 30rem;
    
}

.buttonordercontainer {
    display: flex;
    justify-items: center;
    justify-content: space-evenly;
}





.botones-paginado{
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton-Formulario{
    height: 50px;
    width: 250px;
    border-radius: 30px;
    background-color:  rgb(190, 63, 63);
    color: black;
    font-size: 18px ;
    cursor: pointer;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a:visited{
    text-decoration: none;
    color: black;
}

.futer{
    background-color: rgba(0, 0, 0, 0.3);
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}